.Authenticate {
  min-height: calc(100vh - (70px + 1rem));
  width: 100vw;
  display: flex;
  flex-wrap: warp;
  align-items: center;
  justify-content: center;
}

.Authenticate__logo {
  width: 450px;
  margin: 0 1.8em;
}

.Authenticate__container {
  background-color: #fefefe;
  border-radius: 21px;
  box-shadow: 2px 10px 15px -7px #000000;
  padding: 1.2em 1.6em;
  margin: 0 1.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 2px 10px 15px -7px #000000;
}

.Authenticate__container a {
  text-decoration: none;
}

input,
select {
  margin: 0.3em;
}

.Authenticate__container-input {
  width: 230px;
}

.Authenticate__container-input[type="number"] {
  width: 200px;
}

@media screen and (max-width: 1060px) {
  .Authenticate__logo {
    display: none;
  }
}
