input[type="file"] {
  max-width: 300px;
}

textarea {
  max-height: 70px;
  min-height: 70px !important;
  margin-bottom: 6px;
}

.completo {
  max-width: auto;
}

input,
select {
  max-width: 200px !important;
}
