.Form input[type="file"] {
  max-width: 300px;
}

.Form textarea {
  max-height: 70px;
  min-height: 70px !important;
  margin-bottom: 6px;
}

.completo {
  max-width: auto;
}

.Form input,
.Form select {
  max-width: 200px !important;
}
